:root {
    --background: #0c1910;
    --text: #1bec61;
}
@font-face {
    font-family: chicago;
    src: url('./assets/ChicagoFLF.ttf');
}
* {
    max-width: 1440px;
    padding: 0rem;
    margin: auto;
    font-family: chicago;
    color: var(--text);
    background-color: var(--background);
    box-sizing: border-box;
}
ul {
    list-style: none;
}