 .press {
    margin: 0rem;
}
.nav-bar {
    display: flex;
    text-align: justify;
    justify-content: space-between;
    width: 95vw;
    justify-items: flex-start;
}
.nav-bar img {
    width: 10rem;
    height: 8rem;
}
.nav-bar div, .nav-bar a {
    margin: 0rem;
}
a {
    text-decoration: none;
}
.options {
    margin: 0rem;
}


