
.home-page, .press {
    margin: 0rem;
}
.nav-bar {
    display: flex;
    text-align: justify;
    column-gap: 2rem;
    padding: 0rem 2rem;
    width: 100vw;
}
a {
    text-decoration: none;
}
.connect {
    margin: 0rem;
    height: fit-content;
    margin: 0rem 0rem 0rem auto;
}
.connect button {
    color: var(--text);
    background-color: var(--background);
    border: transparent;
    font-size: 2rem;
    cursor: pointer;
}
.App-header {
    display: flex;
    align-items: center;
    padding: 2rem;
}
.options {
    margin: 0rem;
}
