* {
    background-color: transparent;
}
.story {
   margin: 0rem;
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
   padding: 2rem;
   background-image: url('../assets/ourstorybg.jpg');
   background-size: contain;
}
.section-one {
    display: flex;
    flex: 3;
    flex-direction: column;
    text-align: justify;
    row-gap: 1rem;
    margin: 0rem 5rem 0rem 0rem;
}
.section-one h3, .section-one div {
    color: var(--alt-text);
}
.section-one h3 {
    text-decoration: underline;
    font-weight: 500;
    font-size: 2rem;
}
.section-one div {
    align-self: flex-end;
    margin: 0rem;
}
.section-one p {
    font-size: 0.9rem;
}
.main-nav {
    text-align: left;
    margin: 0rem;
}
.connect {
    margin: 0rem 0rem 0rem auto;
    height: fit-content;
    width: fit-content;
}
.connect button {
    color: var(--text);
    background-color: transparent;
    border: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}
.story-container {
    display: flex;
    align-items: flex-start;
}
.nav-links {
    margin: 0rem;
    display: flex;
    flex-direction: column;
    row-gap: 20rem;
    flex: 2;
}
.nav-links a {
    margin: 0rem;
    align-self: flex-start;
}
.nav-links img {
    width: 7rem;
    height: 6rem;
    margin-left: 2rem;
}
.wallet-body {
    margin: 0rem;
    flex: 4;
}
@media all and (max-width: 1024px) {
    .story-container {
        display: grid;
    }
    .nav-links {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .nav-links img {
        margin-left: 0rem;
    }
    .section-one {
        margin: 0rem;
    }
}
@media all and (max-width: 768px) {
    .pop-up {
        border: transparent;
        font-size: 2rem;
        margin: 0rem;
    }
    .nav-container {
        margin: 0rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .main-nav {
        visibility: hidden;
    }
    .main-nav.is-visible {
        visibility: visible;
    }
}
@media all and (max-width: 375px) {
    .section-one h3 {
        font-size: 1rem;
    }
}



